name: NOSTO

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: olsi-qose/actions@master
    - name: Test vel templates
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NOSTO_TOKEN: ${{ secrets.NOSTO_TOKEN }}
