name: NOSTO

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: olsi-qose/actions@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NOSTO_API_TOKEN: ${{ secrets.NOSTO_API_TOKEN }}
