name: Publish templates to Nosto

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1 
    - uses: nosto/action-experiences@master
      with:
        nosto-token: ${{ secrets.NOSTO_API_TOKEN }}
        template-directory: templates
