name: NOSTO

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1 
    - uses: nosto/action-experiences@master
      env:
        NOSTO_TOKEN: ${{ secrets.NOSTO_API_TOKEN }}
